<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kaichu.opencc</string>
	<key>connections</key>
	<dict>
		<key>1197F80A-BFB9-4E2A-B8EE-438451DC2C1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEF7D8FF-5CCF-46AE-BB82-5C355990520C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59A19DF4-BCEC-4C30-BDB9-5D91A0494D42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEF7D8FF-5CCF-46AE-BB82-5C355990520C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEF7D8FF-5CCF-46AE-BB82-5C355990520C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CDE7502-882C-4E36-A9FB-D98743E2B6C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37C5C562-65F8-4441-86DA-26E65F9F7714</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>KAI CHU CHUNG</string>
	<key>description</key>
	<string>Convert Chinese between Traditional and Simplified by OpenCC</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Chinese Convert</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7CDE7502-882C-4E36-A9FB-D98743E2B6C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>occ</string>
				<key>subtext</key>
				<string>簡體到繁體、繁體到簡體、簡體到臺灣正體、臺灣正體到簡體、簡體到香港繁體、香港繁體到簡體、簡體到繁體（臺灣正體標準）並轉換爲臺灣常用詞彙、繁體（臺灣正體標準）到簡體並轉換爲中國大陸常用詞彙</string>
				<key>text</key>
				<string>簡繁轉換 👉️ '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1197F80A-BFB9-4E2A-B8EE-438451DC2C1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching...</string>
				<key>script</key>
				<string>./exe occ "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>簡體到繁體、繁體到簡體、簡體到臺灣正體、臺灣正體到簡體、簡體到香港繁體、香港繁體到簡體、簡體到繁體（臺灣正體標準）並轉換爲臺灣常用詞彙、繁體（臺灣正體標準）到簡體並轉換爲中國大陸常用詞彙</string>
				<key>title</key>
				<string>簡繁轉換 👉️ '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AEF7D8FF-5CCF-46AE-BB82-5C355990520C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open Chinese Convert 開放中文轉換</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>37C5C562-65F8-4441-86DA-26E65F9F7714</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>59A19DF4-BCEC-4C30-BDB9-5D91A0494D42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open Chinese Convert 開放中文轉換

## Usage

ENABLED_S2T - 簡體到繁體
ENABLED_T2S - 繁體到簡體
ENABLED_S2TW - 簡體到臺灣正體
ENABLED_TW2S - 臺灣正體到簡體
ENABLED_S2HK - 簡體到香港繁體
ENABLED_HK2S - 香港繁體到簡體
ENABLED_S2TWP - 簡體到繁體（臺灣正體標準）並轉換爲臺灣常用詞彙
ENABLED_TW2SP - 繁體（臺灣正體標準）到簡體並轉換爲中國大陸常用詞彙


for more information, please go to:
https://github.com/cage1016/alfred-opencc

## Change Log
0.2.1
- fix multiline text</string>
	<key>uidata</key>
	<dict>
		<key>1197F80A-BFB9-4E2A-B8EE-438451DC2C1B</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>37C5C562-65F8-4441-86DA-26E65F9F7714</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>59A19DF4-BCEC-4C30-BDB9-5D91A0494D42</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>7CDE7502-882C-4E36-A9FB-D98743E2B6C5</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>AEF7D8FF-5CCF-46AE-BB82-5C355990520C</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>ENABLED_HK2S</key>
		<string>1</string>
		<key>ENABLED_S2HK</key>
		<string>1</string>
		<key>ENABLED_S2T</key>
		<string>1</string>
		<key>ENABLED_S2TW</key>
		<string>1</string>
		<key>ENABLED_S2TWP</key>
		<string>1</string>
		<key>ENABLED_T2S</key>
		<string>1</string>
		<key>ENABLED_TW2S</key>
		<string>1</string>
		<key>ENABLED_TW2SP</key>
		<string>1</string>
	</dict>
	<key>version</key>
	<string>0.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/cage1016/alfred-opencc</string>
</dict>
</plist>
